<div class="toolbar">
    <div class="justifyToolbar">
        <div class="backhome">
            <span class="tunifyText">TUNIFY</span> for <span class="spotifyText">SPOTIFY</span>
        </div>

        <div class="searchBox">
            <app-search-bar></app-search-bar>
        </div>

        <div class="greet" (click)="login()" *ngIf="username">
            Hi! 👋 {{ username }}
        </div>
    </div>

    <br>

    <div class="homeNavigator" *ngIf="showPlaylistNavigator">
        <ul nz-menu nzMode="horizontal">
            <li class="selectedItem" nz-menu-item nzSelected (click)="userSelection('artist')">
                TOP ARTISTS
            </li>
            <li nz-menu-item (click)="userSelection('track')">
                TOP TRACKS
            </li>
            <li>
                <div class="viewSwitch">
                    <nz-switch [(ngModel)]="switchValue" (ngModelChange)="viewTypeChange()" nzCheckedChildren="RANKED VIEW"
                        nzUnCheckedChildren="NORMAL VIEW"></nz-switch>
                </div>
            </li>
        </ul>
    </div>
</div>