.bottomPane{
    height: 90px!important;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0;
    display: inline;
    text-align: center;
    vertical-align: middle;
}

p{
    display: inline-block;
}

button{
    display: inline-block;
}

.bottomNav{
    opacity: 1;
    /* -webkit-transform: translateZ(0); */
    transform: translateZ(0);
}

.info{
    padding-top: 30px;
}