<div class="recentContainer">  
    <p class="recentText">RECENTLY PLAYED</p>      
    <div class="recentDisplay">
       
        <div class="recentCards" *ngFor="let recentItem of recentArray">
            <nz-card class="recentCard" [nzCover]="coverTemplate">
                <nz-card-meta
                  nzTitle="Card title"
                  nzDescription="This is the description"
                  [nzAvatar]="avatarTemplate"
                ></nz-card-meta>
              </nz-card>
              <ng-template #avatarTemplate>
                <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
              </ng-template>
              <ng-template #coverTemplate>
                <img alt="example" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
              </ng-template>
        </div>
        
    </div>
    
    <br><br><br>

    <div class="infoContainer">
        <!-- <div class="obsessedTrack">
            NO REGRETS
        </div>
        <div class="topInfo">
            TRACK : 
            ARTIST :
        </div> -->
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="1949101 | number" [nzTitle]="'Number of songs you have listened to'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="40.75" nz-tooltip [nzTooltipTitle]="titleTemplate" [nzTitle]="'Approx Listening time [Hrs]'"></nz-statistic>
              <ng-template #titleTemplate>
                <i nz-icon nzType="bulb" style="margin-right: 8px"></i> <span>Hey! Music heals right!</span>
              </ng-template>
            </nz-col>
          </nz-row>
    </div>