<div class="recentContainer">  
    <p class="recentText">RECENTLY PLAYED</p>      
    <div class="recentDisplay">
       
        <div class="recentCards" *ngFor="let recentItem of recentArray">
            <nz-card class="recentCard" [nzCover]="coverTemplate">
                <nz-card-meta
                  nzTitle="{{ recentItem[0].track.name }}"
                  nzDescription="Popularity: {{ recentItem[0].track.popularity }}"
                ></nz-card-meta>
              </nz-card>
              <ng-template #coverTemplate>
                <img alt="example" src="{{ recentItem[0].track.album.images[0].url }}" />
              </ng-template>
        </div>
        
    </div>
    
    <br><br><br>

    <div class="infoContainer">
        <nz-row [nzGutter]="16">
            <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="855 | number" [nzTitle]="'Number of songs you have listened to'"></nz-statistic>
            </nz-col>
            <nz-col [nzSpan]="12">
              <nz-statistic [nzValue]="40.75" nz-tooltip [nzTooltipTitle]="titleTemplate" nzTooltipPlacement="topLeft" [nzTitle]="'Approx Listening time [Hrs]'"></nz-statistic>
              <ng-template #titleTemplate>
                <i nz-icon nzType="bulb"></i> <span>    Hey! Music heals right!</span>
              </ng-template>
            </nz-col>
          </nz-row>
    </div>