<br>
<br>
<div class="container">
    <div id="playlistInput">

        <form nz-form [formGroup]="validateForm" class="login-form"
          (ngSubmit)="createPlaylist()" class="formInput">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your playlist name!">
              <nz-input-group nzPrefixIcon="">
                <input type="text" nz-input [(ngModel)]="playlistName" (ngModelChange)="playlistNameChange()" formControlName="playlistName"
                  placeholder="Enter playlist name" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </form>

    </div>
    <div id="inputButton">
        <button nz-button nzType="primary" (click)="createPlaylist()">CREATE PLAYLIST</button>
    </div>
    <br><br>
    <div *ngFor="let trackItem of tracks; let i = index">
        <div class="artist__info">
            <span class="order__index">{{ i+1 }}</span>
            <span class="track__cover" [style.background-image]="'url(' + trackItem.album.images[0].url + ')'"></span>
            <span class="artist__summary">
                <span class="artist__name">{{ trackItem.name }}</span>
                <span class="artist__genres">POPULARITY: {{ trackItem.popularity }}</span>
            </span>
        </div>
        <br>
    </div>
</div>